
#footer_text{
    background-color: #06069f;
    width: 100%;
    padding: 2% 2% 2% 2% ;
    text-align: center;
    color: white;
}
@media screen and (max-width: 800px) {
    #footer_text{
        width: 95%;
        padding: 10% 2% 10% 2% ;
    }
}