.list-group{
  display: grid;
  grid-template-columns: 40% 40%;
  margin: 3% 0 0 5%;
  grid-gap: 30px;
}
.list-group-item{
  text-align: center;
  padding: 10%;
  margin: 5% 0 0 15%;
  box-shadow: 10px 10px 10px 10px gray;
  border-radius: 10px;
}
li{
  list-style-type: none;
}
#book_img{
  width: 40%;
}

.btn{
  width: 40%;
  height: 40px;
  background: #06069f;
  border: solid 2px  #06069f;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  margin: 0 0 15px 0;
}

.form-group{
  padding: 2%;
  width: 40%;
  margin: 0 0 0 35%;
  border-radius: 15px;
}

#search-text{
  width: 300px;
  height: 40px;
}

label{
  margin: 50px;
  font-weight: bold;
}


