#jasmine_content{
  display: grid;
  grid-template-columns: 40% 40%;
  margin: 3% 0 0 2%;
  grid-gap: 30px;
}
#book{
  text-align: center;
  padding: 10%;
  margin: 5% 0 0 15%;
  box-shadow: 10px 10px 10px 10px gray;
  border-radius: 10px;
}
li{
  list-style-type: none;
}
img{
  width: 40%;
}
.name{
  font-size: 25px;
}
.detail{
  width: 40%;
  height: 40px;
  background: #06069f;
  border: solid 2px  #06069f;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  margin: 0 0 15px 0;
}


